:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cabecera {
  max-width: 320px;
}
.cabecera-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  justify-content: center;
  margin: 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 13px 0;
}
.menu-list {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
.principal {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .cabecera {
    flex-direction: row;
  }
  .cabecera-inner {
    align-items: flex-start;
    margin: 20px 0 20px 30px;
  }
  .titulo {
    font-size: 40px;
    text-align: left;
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 0;
  }
}
