#4a4a4a /* (Texto del menú) */
#3CDBC0 /* (Color de fondo de la página) */
#FFFFFF /* (Color de texto de "Creando diversidad digital") */

:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cabecera {
  max-width: 320px;
}
.cabecera-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  justify-content: center;
  margin: 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 13px 0;
}
.menu-list {
  text-transform: uppercase;
  list-style: none;

  display: inline-block;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
.principal {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo {
  font-size: 1.875rem; /* 40px = 2.5rem * para @media */
  color: #ffffff;
  text-align: center;
}
