#4a4a4a /* (Texto del menú) */
#3CDBC0 /* (Color de fondo de la página) */
#FFFFFF /* (Color de texto de "Creando diversidad digital") */

:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cabecera {
  display: flex;
  flex-direction: column;
}
.cabecera-inner {
  max-width: 320px;
}
.logo {
}
.principal {
  /* width: 100vw; */
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo {
  font-size: 1.875rem; /* 40px = 2.5rem * para @media */
  color: #ffffff;
}
